.acordeon {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid white;
    border-radius: 20px;
    margin: 1rem 0;
    transition: 0.25s;
}
.acordeon.open{
    background-color: #55569e;
    border-color: #55569e;
}
.acordeon:hover{
    background-color: #55569e;
    border-color: #55569e;
}
.acordeon .trigger{
    font-size: 1.5rem;
    font-weight: 700;
    align-items: center;
    display: flex;
    flex-direction: row;
    padding: 1rem 2rem;
    background-color: transparent;
    color: white;
    border:none;
    justify-content: space-between;
    flex-direction: row;
}
.acordeon .trigger:hover{
    cursor: pointer;
}
.acordeon .trigger::after {
    content: '';
    display: inline-block;
    width:1.5rem ;
    height:1.5rem ;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('assets/img/icons/arrow-top.svg');
    transition: .25s;
}
.acordeon.open .trigger::after{
    transform: rotate(180deg);
}
.acordeon .content{
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: opacity .25s ease-in-out ;

}
.acordeon.open .content{
    display: inline-block;
    height: auto;
    opacity: 1;
    padding: 0 1rem 1rem 2rem;


}