.header{
    align-items: center;
    position: relative;
}
.header .photo{
    width :192px;
    height:192px;
    border-radius: 50%;
    position: absolute;
    left: -250px; /* Começa fora da tela à esquerda */
    transition: left 2s ease-in-out; /* Define a transição */
    right: calc(20% - 40px);
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header .photo{
    width :190px;
     height:190px;
     border-radius: 50%;
}
.header .title{
    text-align: center;
    font-family: "Roboto", sans-serif;
}
.information{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}
.information p{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: .5rem;
    font-size: 1.30rem;
}
.information a{
    color: #fff;
}
.information p::before {
    content: '';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: .5rem;
}
/* IMG-ICONS */
.information .job::before{
    background-image: url('../assets/img/icons/job.svg');
}
.information .location::before {
    background-image: url('../assets/img/icons/location.svg');
}
.information .email::before{
    background-image: url('../assets/img/icons/email.svg');
}
.information .phone::before{
    background-image: url('../assets/img/icons/phone.svg');
}

@media only screen and (min-width: 768px){
  
    .header{
        display: grid;
        grid-template-areas:
        "photo title"
        "photo information"
        ;
    }
    .header .photo{
        grid-area: photo;
        margin: 0 auto;
    }

    .header .title{
        grid-area: title;
        text-align: start;
        max-width: 200px;
    }

    .header .information{
        grid-area: information;

    }
}
/* Layout para dispositivos móveis */
@media only screen and (max-width: 767px) {
    .header {
        flex-direction: column;
        align-items: center;
        text-align: center;
        position: relative;
    }

    .header .photo {
        width: 130px; /* Ajusta o tamanho da foto para telas pequenas */
        height: 130px;
        margin-bottom: 1rem; /* Espaço abaixo da foto */
        position: relative; /* Remove a posição absoluta */
        left: -150px; /* Remove a posição esquerda para flexbox */
        transition: left 2s ease-in-out; /* Define a transição */
    }

    .header .title {
        margin: 0.5rem 0; /* Espaçamento acima e abaixo do título */
    }

    .header .information {
        margin-top: 2rem; /* Espaço acima das informações */
    }
}
